{% extends "concesionario/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1>Acerca de Nosotros</h1>
{% endblock %}

{% block contenido %}
<h2>Yojanan Berrocal: Profesional en Negocios Internacionales de 25 años de edad<br>
Nacido en la ciudad de Barranquilla, Colombia. Trabajo en una empresa experta en servicios de outsourcing para<br>
empresas americanas, especificamente en el area de logistica. Soy estudiante de Coder para aprender sobre temas IT<br>
Me gusta mucho la pizza  </h2>
<br>
<h2>Santiago Cirigliano: Ing. Agronomo de 29 años, de Nuñez, Buenos Aires, soltero ante la ley. Mi vida esta dedicada a escalar y ahora trabajo como cientifico de datos en una empresa de inteligencia artificial que hace productos para agroindustria. Estudiante de CODER para mejorar mi POO y conexion con APIs. Tomo helado de menta granizada y tres termos de mate promedio por dia.</h2>
<br>
<h2> Patricio Mlekuz: 24 años de Buenos Aires, trabajo en una papelera y me dedico al area de logistica. un amigo me empujo a anotarme al curso y hoy en dia se lo estoy agradeciendo.</h2>

{% endblock %}