{% extends "concesionario/padre.html" %}

{% load static %}

{% block contenido %}
<h1>Bienvenido a tu Perfil  </h1>
<img src="{{ imagen }}" alt="">
<br>usuario: {{ usuario.username }}
<br>email: {{ usuario.email }}
<br>Nombre: {{ usuario.first_name }}
<br>Apellido: {{ usuario.last_name }}

<br><button><a href="{% url 'editarPerfil'  %}" class="btn-btn primary"> Edita tu Perfil</a></button>
<br><button><a href="{% url 'agregarAvatar'  %}" class="btn-btn primary"> Agregar o cambiar avatar</a></button>
{% endblock %}